.navbar-toggler[b-k1ks7xja8a] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-k1ks7xja8a] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-k1ks7xja8a] {
    font-size: 1.1rem;
}

.oi[b-k1ks7xja8a] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-k1ks7xja8a] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-k1ks7xja8a] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-k1ks7xja8a] {
        padding-bottom: 1rem;
    }

    .nav-item[b-k1ks7xja8a]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.header[b-k1ks7xja8a] {
    background-color: rgba(25, 25, 25, 0.8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px;
    width: 100%;
    height: 78px;
    position: fixed;
    z-index: 999;
}

    .header h2[b-k1ks7xja8a] {
        font-size: 56px;
        font-weight: 300;
        letter-spacing: 2px;
        color: white;
    }

    .header span[b-k1ks7xja8a] {
        color: #ff7426;
    }

    .header ul li[b-k1ks7xja8a] {
        display: inline;
        list-style: none;
    }

        .header ul li a[b-k1ks7xja8a] {
            color: white;
            padding: 10px 15px;
            margin: 0 16px;
            text-decoration: none;
            border: none;
            border-bottom: 2px solid white;
            font-size: 16px;
            font-weight: 400;
            letter-spacing: 1px;
            transition: all .5s;
        }

            .header ul li a:hover[b-k1ks7xja8a] {
                color: #ff7426;
                border-bottom: 2px solid rgba(12, 11, 11, 0);
            }


.nav-item[b-k1ks7xja8a]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-k1ks7xja8a]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-k1ks7xja8a] {
        display: none;
    }

    .collapse[b-k1ks7xja8a] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
