@inherits LayoutComponentBase

<div class="page">
    <NavMenu />
    <div class="content">
    <main>
        <article class="content">
            @Body
        </article>
    </main>
    </div>

</div>
